/* Start Header Section */

body {
    font-family: "Montserrat", sans-serif;   
}
.header_section {
    width: 1440px;
    margin: 0 auto; 
}
.header_section .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 80px;
}
.header_section .header-top .left-single-box h1 {
    background-color: white;
    height: 100px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    color: #FCA311;
    font-size: 32px;
    font-weight: 800;
    border-radius: 10px;
}
.header_section .right-single-box {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header_section .right-single-box #home {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.header_section .right-single-box #case-study {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.header_section .right-single-box #contact {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight:600;
    background-color: #FCA311;
    padding: 15px 40px;
    border-radius: 10px;
}
/* End Header Section */


/* Start Contact Section*/

.contact_section {
    width: 1440px;
    background-color: #EDEDED;
    margin: 0 auto;
}
.contact_section .contact-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
.contact_section .contact-wrap .left-single-box h1 {
    width: 587px;
    font-size: 57px;
    font-weight: 700;
}
.contact_section .contact-wrap .right-single-box {
    width: 618px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.contact_section .contact-wrap .right-single-box .input-box {
    padding: 42px 32px;
}
.contact_section .contact-wrap .right-single-box .input-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_section .right-single-box .input-box .name {
    height: 82px;
}
.contact_section .right-single-box .input-box #name-label {
    font-size: 18px;
    font-weight: 500;
}
.contact_section .right-single-box .input-box .single-box {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border: #333333 solid 2px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 10px;
}
.contact_section .right-single-box .input-box #input-box {
    width: 100%;
    border: none;
    border-left: #333333 solid 2px;
    padding: 10px;
}
.contact_section .right-single-box .input-box .btn-box {
    text-align: center;
}
.contact_section .right-single-box .input-box .btn-box #connect-btn {
    padding: 15px 40px;
    background-color: #FCA311;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
}
/* End Contact Section */



/* Start Footer Section */

.footer-section {
    width: 1440px;
    margin: 0 auto;
}
.footer-section .footer-wrap {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-section .footer-wrap .title {
    width: 389px;
}
.footer-section .footer-wrap .title h1 {
    font-size: 32px;
    font-weight: 800;
    color: #FCA311;
}
.footer-section .footer-wrap .main {
    width: 135px;
}
.footer-section .footer-wrap .main h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.footer-section .footer-wrap .main .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}
.footer-section .footer-wrap .main .details a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.footer-section .footer-wrap .main .details  #home {
    color: #333333;
}
.footer-section .footer-wrap .main .details  #case-studies {
    color: #333333;
    font-weight: 700;
}
.footer-section .footer-wrap .main .details  #contact {
    color: #FCA311;
    font-weight: 700;
}

.footer-section .footer-wrap .case-studies {
    width: 226px;
}
.footer-section .footer-wrap .case-studies h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}
.footer-section .footer-wrap .case-studies .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}
.footer-section .footer-wrap .case-studies .details a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}
.footer-section .footer-wrap .information {
    width: 390px;
}
.footer-section .footer-wrap .information h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}
.footer-section .footer-wrap .information-box .location {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section .footer-wrap .information-box .icon-box i {
    color: #14213D;
    padding: 10px 10px;
}
.footer-section .footer-wrap .information-box .content p{
    font-weight: 600;
}
.footer-section .footer-wrap .information-box .phone-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section .footer-wrap .information-box .gmail-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section .footer-wrap .information-box .social-link {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-section .copyright {
    background-color: #333333;
    height: 35px;
}
.footer-section .copyright p {
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 12px;
}
/* End Footer Section */