
/* Start Header Section */

body {
    font-family: "Montserrat", sans-serif;   
}
.header_section {
    background-color: #f5f5f5;
    width: 1440px;
    height: 732px;
    margin: 0 auto; 
}
.header_section .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 80px;
}
.header_section .header-top .left-single-box h1 {
    background-color: white;
    height: 100px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    color: #FCA311;
    font-size: 32px;
    font-weight: 800;
    border-radius: 10px;
}
.header_section .right-single-box {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header_section .right-single-box #home {
    color: #FCA311;
    text-decoration: none;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 16px;
}
.header_section .right-single-box #case-study {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: medium;
}
.header_section .right-single-box #contact {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #FCA311;
    padding: 15px 40px;
    border-radius: 10px;
}
.header_section .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 630px;
}
.header_section .header-bottom .left-single-box {
    flex-basis: 50%;
}
.header_section .header-bottom .right-single-box {
    flex-basis: 50%;
}
.header_section .header-bottom .left-single-box h1 {
    color: #14213D;
    font-size: 52px;
    font-weight: 700;
    width: 594px;
}
.header_section .header-bottom .left-single-box p {
    width: 453px;
    font-size: 42px;
    color: #14213D;
}
.header_section .header-bottom .left-single-box p #name {
    color: #FCA311;
    font-weight: 700;
}
.header_section .header-bottom .left-single-box a {
    text-decoration: none;
    background-color: #FCA311;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}
/* End Header Section */


/* Start About Section */

.about_section {
    width: 1440px;
    margin: 100px auto; 
}
.about_section .about-wrap {
    display: flex;
    padding: 0 150px;
    align-items: center;
    justify-content: space-between;
}
.about_section .about-wrap .left-single-box {
    width: 560px;
}
.about_section .about-wrap .left-single-box h1 {
    font-size: 32px;
    font-weight: 700;
    color: #14213D;
}
.about_section .about-wrap .left-single-box #abt-paragraph {
    font-size: 24px;
    color: #FCA311;
    font-weight: 700;
}
.about_section .about-wrap .left-single-box #abt-discussion {
    color: #333333;
    font-weight: 600;
}
.about_section .about-wrap .left-single-box .abt-btn {
    margin-top: 50px; 
}
.about_section .about-wrap .left-single-box a {
    padding: 15px 40px;
    background-color: #FCA311;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
/* End About Section */


/* Start Creative Section */

.creative_section {
    width: 1440px;
    margin: 100px auto; 
}
.creative_section .heading {
    width: 730px;
    text-align: center;
    margin: 0 auto;
}
.creative_section .heading h1 {
    font-size: 34px;
    font-weight: 700;
    color: #14213D;
}
.creative_section .heading h1 #creative {
   color: #FCA311; 
}
.creative_section .creative-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 1120px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 100px;
}
.creative_section .creative-options .single-box {
    width: 300px;
    height: 180px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.creative_section .creative-options .single-box p {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.creative_section .creative-btn-box {
    margin-top: 50px;
    text-align: center;
}
.creative_section .creative-btn-box a {
    padding: 15px 40px;
    background-color: #FCA311;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
/* End Creative section */


/* Start Personal Information Section */

.personal_section {
    width: 1440px;
    margin: 100px auto;
}
.personal_section .personal-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
.personal_section .personal-wrap .left-single-box {
    width: 475px;
}
.personal_section .personal-wrap .left-single-box h1 {
    font-size: 32px;
    font-weight: 700;
    color: #14213D;
}
.personal_section .personal-wrap .left-single-box h1 #name {
    color: #FCA311;
}
.personal_section .personal-wrap .personal-btn-box {
    width: 271px;
    height: 54px;
    border: #FCA311 2px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FCA311;
}
.personal_section .personal-wrap .personal-btn-box a {
    text-decoration: none;
    font-weight: bold;
    color: #FCA311;
}
.personal_section .personal-wrap .right-single-box {
    width: 770px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.personal_section .personal-wrap .right-single-box .content-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F5F5F5;
    padding: 25px 30px;
    border-radius: 10px;
}
.personal_section .personal-wrap .right-single-box .content-box p {
    line-height: 1.5;
}
.personal_section .personal-wrap .right-single-box .content-box p #lorem {
    font-weight: bold;
}
.personal_section .personal-wrap .right-single-box .content-box p #year {
    font-weight: bold;
}
.personal_section .personal-wrap .right-single-box .content-box p #book {
    font-weight: bold;
}
.personal_section .personal-wrap .right-single-box .content-box p #electric {
    font-weight: bold;
}
.personal_section .personal-wrap .right-single-box .content-box p #centuries  {
    font-weight: bold;
}
/* End Personal Information Section */


/* Start Business Plan Section */
.business_plan {
    width: 1440px;
    margin: 100px auto;
    background-color: #EEEEEE;
}
.business_plan .business-plan-wrap {
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.business_plan .business-plan-wrap .left-single-box {
    width: 793px;
}
.business_plan .business-plan-wrap .left-single-box #head {
    color: #14213D;
    font-size: 32px;
    font-weight: 700;
}
.business_plan .business-plan-wrap .left-single-box #paragraph {
    color: #FCA311;
    font-size: 24px;
    font-weight: 700;
}
.business_plan .business-plan-wrap .left-single-box #details {
    line-height: 1.5;
    color: #333333;  
}
.business_plan .business-plan-wrap .left-single-box #lorem {
    font-weight: bold;
} 
.business_plan .business-plan-wrap .left-single-box #year {
    font-weight: bold;
}

.business_plan .business-plan-wrap .left-single-box .business-btn-box {
    margin-top: 50px;
} 
.business_plan .business-plan-wrap .left-single-box a {
    padding: 15px 40px;
    background-color: #FCA311;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.business_plan .business-plan-wrap .left-single-box .img-box {
    margin-top: 50px;
    display: flex;
    gap: 54px;
}
.business_plan .business-plan-wrap .right-single-box .img-box img {
    width: 384px;
}
/* End Business Plan Section */



/* Start Footer Section */

.footer-section {
    width: 1440px;
    margin: 0 auto;
}
.footer-section .footer-wrap {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-section .footer-wrap .title {
    width: 389px;
}
.footer-section .footer-wrap .title h1 {
    font-size: 32px;
    font-weight: 800;
    color: #FCA311;
}
.footer-section .footer-wrap .main {
    width: 135px;
}
.footer-section .footer-wrap .main h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.footer-section .footer-wrap .main .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}
.footer-section .footer-wrap .main .details a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.footer-section .footer-wrap .main .details  #home {
    color: #FCA311;
}
.footer-section .footer-wrap .main .details  #case-studies {
    color: #333333;
    font-weight: 700;
}
.footer-section .footer-wrap .main .details  #contact {
    color: #333333;
    font-weight: 700;
}

.footer-section .footer-wrap .case-studies {
    width: 226px;
}
.footer-section .footer-wrap .case-studies h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}
.footer-section .footer-wrap .case-studies .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}
.footer-section .footer-wrap .case-studies .details a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}
.footer-section .footer-wrap .information {
    width: 390px;
}
.footer-section .footer-wrap .information h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}
.footer-section .footer-wrap .information-box .location {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section .footer-wrap .information-box .icon-box i {
    color: #14213D;
    padding: 10px 10px;
}
.footer-section .footer-wrap .information-box .content p{
    font-weight: 600;
}
.footer-section .footer-wrap .information-box .phone-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section .footer-wrap .information-box .gmail-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section .footer-wrap .information-box .social-link {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-section .copyright {
    background-color: #333333;
    height: 35px;
}
.footer-section .copyright p {
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 12px;
}
/* End Footer Section */







